.a11ywb-accordion {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
}

.a11ywb-accordion-summary__button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: -8px;
}

.a11ywb-accordion-summary__button--open::before {
  content: url('/src/assets/icons/arrow_drop_up.svg');
}

.a11ywb-accordion-summary__button--closed::before {
  content: url('/src/assets/icons/arrow_right.svg');
}

.a11ywb-accordion-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid blue;
  }
}

.a11ywb-accordion__contents {
  padding: 8px;
}
